.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 200ms ease all;
    pointer-events: none;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.lose {
    position: relative;
    z-index: 11;
    fill: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 500px;
    height: 300px;
    background: #9127ee;
    border-radius: 10px;
}
.win {
    position: relative;
    z-index: 11;
    fill: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 500px;
    height: 400px;
    background: #00ff16;
    color: #1a1a1a;
    border-radius: 10px;
}
